AppConsome/WindowsFormsApp5/Web References/MeuServico/MeuServico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaParametro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaParametroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaParametroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaCarro">
        <s:complexType />
      </s:element>
      <s:element name="RetornaCarroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaCarroResult" type="tns:Carro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Carro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="tns:Marca" />
          <s:element minOccurs="1" maxOccurs="1" name="Ano" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Marca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaParametroSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaParametro" />
  </wsdl:message>
  <wsdl:message name="RetornaParametroSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaParametroResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaCarroSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaCarro" />
  </wsdl:message>
  <wsdl:message name="RetornaCarroSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaCarroResponse" />
  </wsdl:message>
  <wsdl:portType name="MeuServicoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaParametro">
      <wsdl:input message="tns:RetornaParametroSoapIn" />
      <wsdl:output message="tns:RetornaParametroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaCarro">
      <wsdl:input message="tns:RetornaCarroSoapIn" />
      <wsdl:output message="tns:RetornaCarroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MeuServicoSoap" type="tns:MeuServicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaParametro">
      <soap:operation soapAction="http://tempuri.org/RetornaParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaCarro">
      <soap:operation soapAction="http://tempuri.org/RetornaCarro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeuServicoSoap12" type="tns:MeuServicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaParametro">
      <soap12:operation soapAction="http://tempuri.org/RetornaParametro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaCarro">
      <soap12:operation soapAction="http://tempuri.org/RetornaCarro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeuServico">
    <wsdl:port name="MeuServicoSoap" binding="tns:MeuServicoSoap">
      <soap:address location="https://localhost:44301/MeuServico.asmx" />
    </wsdl:port>
    <wsdl:port name="MeuServicoSoap12" binding="tns:MeuServicoSoap12">
      <soap12:address location="https://localhost:44301/MeuServico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>